<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangunmediasejahtera.wartaplus">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.bangunmediasejahtera.wartaplus.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bangunmediasejahtera.wartaplus.Splashscreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.bangunmediasejahtera.wartaplus.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.DetailArticleActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.DetailArticleFotoActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.activity.DetailArticleActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.DetailFotoActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.TagActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.TagListDetail"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.activity.TagActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.SearchActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bangunmediasejahtera.wartaplus.activity.DetailPageActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bangunmediasejahtera.wartaplus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


    </application>

</manifest>
